@import url(./main.css);
@import url(./header.css);

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  min-height: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

ul > li {
  list-style: none;
}
