#main__main-content--container {
  flex: 1;
  background-color: #f6f6f8;
}

#main__item-container--article-items {
  padding: 20px 10px 20px 20px;
  max-width: 1024px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

#main__item-container--article-items > .article-item {
  padding-right: 10px;
  margin-bottom: 20px;
}

#main__item-container--article-items > .article-item > article {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

#main__item-container--article-items > .article-item > article:hover {
  transform: scale(1.01);
}

#main__item-container--article-items
  > .article-item
  > article
  > .articla-item--image-area {
  width: 100%;
  height: 200px;
  background-color: #c4c4c4;
}

#main__item-container--article-items
  > .article-item
  > article
  > .articla-item--text-area {
  padding: 20px;
}

#main__item-container--article-items
  > .article-item
  > article
  > .articla-item--text-area
  > h3 {
  font-size: 20px;
  line-height: normal;
  letter-spacing: 0.1px;
  margin-bottom: 10px;
  word-break: break-all;
}

#main__item-container--article-items
  > .article-item
  > article
  > .articla-item--text-area
  > p {
  font-size: 15px;
  line-height: normal;
  letter-spacing: 0.1px;
  word-break: break-all;
}

@media screen and (max-width: 1024px) {
  #main__item-container--article-items {
    padding: 20px 10px 20px 20px;
  }
}
